@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-text: #ffffff;
  --color-surface-5: #ffffff/5;
  --color-surface-10: #ffffff/10;
  --color-highlight-20: #ffffff/20;
  --color-stroke: #ffffff/50;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--color-text);
  --color-surface-5: var(--color-surface-5);
  --color-surface-10: var(--color-surface-10);
  --color-highlight-20: var(--color-highlight-20);
  --color-stroke: var(--color-stroke);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --text-sm: 14px;
  --text-base: 16px;
  --text-base--line-height: 24px;
  --text-sm--line-height: 24px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}